package main

import (
	"fmt"
	"os"
)

func main() {
	if len(os.Args) > 1 {
		cmd := os.Args[1]
		if cmd == "up" {
			up()
		} else if cmd == "down" {
			down()
		}
	}
}

// UP 迁移操作
func up()  {
	fmt.Println("DummyString Up")
	// Write your migrate action here
}

// Down 迁移回滚
func down()  {
	fmt.Println("DummyString Down")
	// Write your rollback action here
}

